<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_exception-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="lua" version="5.4.2" targetFramework="native" />
  <package id="opencv.win.native" version="320.1.1-vs141" targetFramework="native" />
  <package id="opencv.win.native.redist" version="320.1.1-vs141" targetFramework="native" />
</packages>